/* universal selector */
* {
  color: pink;
}
/* single elemnt selector */
button {
  font-size: large;
  color: black;
}
/* multiple element selector */
h1,
h2 {
  color: magenta;
}

/* id selector */
#signup {
  background-color: blanchedalmond;
}
#login {
  background-color: cadetblue;
}
/* ids should only ever be used once on page/document */
