/* universal selector */
* {
  color: pink;
}
/* single elemnt selector */
button {
  font-size: large;
  color: black;
}
/* multiple element selector */
h1,
h2 {
  color: magenta;
}

/* id selector # */
#signup {
  background-color: blanchedalmond;
}
#login {
  background-color: cadetblue;
}
/* ids should only ever be used once on page/document */

/* class selector . */
.tag {
  color: green;
}

/* Descendant selector */
li a {
  /* ^ space not a comma */
  color: teal;
}
/* select all <a> inside of an <li> */

/* section span a {
  color: blueviolet;
} */
/* select all <a> inside a <span> inside a <section> */

.post a {
  color: blue;
}
/* select all <a> inside tagged with class of post */

/* Adjacent Selector */
input + button {
  color: red;
}
/* select all buttons that are immediatly after an input  */

h2 + button {
  font-size: small;
}
/* select all buttons that come immediatly after an h2 */

/* Direct-Decsendant selector/combinator */
footer > a {
  color: chocolate;
}

/* Attribute selector */
input[type="password"] {
  color: rgb(61, 1, 61);
}
input[type="text"] {
  color: crimson;
}

/* Pseudo Class Selectors */
.post button:hover {
  background-color: darkgreen;
}
/* change the background color when a button is hovered over */
.post button:active {
  background-color: brown;
}
/* Change background color when button is active */
footer a:hover {
  color: blueviolet;
  font-weight: bold;
}
.post:nth-of-type(2n) {
  background-color: rgb(204, 247, 233);
}
/* Pseaudo Elements */
h2::first-letter {
  font-size: larger;
}
/*  Pseudo classes use one : pseudo elements use two */
